<table class="table table-bordered">
  <thead>
  	<tr>
  	  <th>Id</th>
  	  <th>Name</th>	
  	  <th>Username</th>	
  	  <th>Email</th>
  	  <th>Is active?</th>
  	  <th>Website</th>
      <th>Select</th>
  	</tr>
  </thead>
  <tbody>
  	<tr *ngFor="let user of newUsers">
  	  <td>{{ user.id }}</td>
  	  <td>{{ user.name }}</td>
  	  <td>{{ user.username }}</td>
  	  <td>{{ user.email }}</td>
  	  <td *ngIf="user.active">active</td>
  	  <td *ngIf="!user.active">inactive</td>
  	  <td>{{ user.website }}</td>
      <td><button (click)="selectUser(user)">Select</button></td>
  	</tr>
  </tbody>	
</table>